---

- hosts: all
  tasks:
    - name: Install core apps
      include_role:
        name: sh_apps
      loop_control:
        label: "{{ app.name }}"
        loop_var: app
      loop: "{{ apps_core }}"

    - name: Install flix apps
      include_role:
        name: sh_apps
      loop_control:
        label: "{{ app.name }}"
        loop_var: app
      loop: "{{ apps_flix }}"

    # - name: "medias folders"
    #   file:
    #     path: "/home/kah/{{ item }}"
    #     owner: kah
    #     group: kah
    #     state: directory
    #     mode: '700'
    #   become: true
    #   loop:
    #     - medias/downloads/watch
    #     - medias/downloads/complete
    #     - medias/downloads/incomplete
    #     - medias/tv
    #     - medias/movies
    #     - config/jackett
    #     - config/radarr
    #     - config/sonarr
    #     - config/bazarr
    #     - config/transmission
    #     - config/jellyfin
    #   tags:
    #     - medias
