app_jackett:
  name: jackett
  state: absent

  folders:
    - medias/downloads/watch
    - config/jackett

  portal:
    - name: Jackett
      subtitle: "Indexeur"
      url: "https://jackett.{{ cloudflare_domain }}"
      logo: https://github.com/NX211/homer-icons/raw/master/png/jackett.png
      target: "_blank"
      group: video
      public: false

  namespace: sh-flix

  helm_repo:
    - name: k8s-at-home
      repo_url: https://k8s-at-home.com/charts/

  charts:
    - ref: "k8s-at-home/jackett"
      chart_values:
        image:
          tag: "v0.20.314"
        ingress:
          main:
            enabled: true
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: websecure
            hosts:
              - host: "jackett.{{ cloudflare_domain }}"
                paths:
                  - path: "/"
                    pathType: Prefix
          external:
            enabled: true
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: external
              external-dns.alpha.kubernetes.io/target: "{{ cloudflare_backend }}"
              traefik.ingress.kubernetes.io/router.tls: "true"
              traefik.ingress.kubernetes.io/router.middlewares: sh-core-forward-auth@kubernetescrd,sh-core-cloudflare-api-whitelist@kubernetescrd
            hosts:
              - host: "jackett.{{ cloudflare_domain }}"
                paths:
                  - path: "/"
                    pathType: Prefix
        persistence:
          config:
            enabled: true
            type: hostPath
            mountPath: /config
            hostPath: "/home/kah/config/jackett"

          medias:
            enabled: true
            type: hostPath
            mountPath: /medias
            hostPath: "/home/kah/medias"
