.uuid
.storage/
__pycache__
deps/
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
nul
secrets.yaml
tts/
notebooks
.shopping_list.json
freebox.conf
.google_maps_location_sharing*
.cloud
.ssh
