---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: protected
  namespace: networking
spec:
  chain:
    middlewares:
      # - name: cloudflare-ips
      - name: basic-auth
      - name: error-pages
