chronograf
code-server
heimdall
influxdb
jackett
jellyfin
nodered
ombi
plex
radarr
sonarr
transmission
zigbee2mqtt
# homeassistant
letsencrypt
valetudomap
# traefik
telegraf.conf
bazarr
lazylibrarian
grafana/share
grafana/var
pihole
dnsmasq
assistant_relay
