app_monitoring:
  name: monitoring

  portal:
    - name: grafana
      subtitle: "Monitoring"
      icon: fas fa-chart-line
      url: "http://grafana.sillykube"
      target: "_blank"
      group: core
      public: false

  namespace: sh-core

  helm_repo:
    - name: prometheus-community
      repo_url: https://prometheus-community.github.io/helm-charts

  charts:
    - ref: prometheus-community/kube-prometheus-stack
      chart_values:
        grafana:
          ingress:
            enabled: true
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: web
            hosts:
              - grafana.sillykube
            path: /
