app_portal_private_configmap:
  title: Sillyhome
  subtitle: Portal
  icon: "fas fa-house-user"
  footer: ''
  columns: "auto"
  links:
    - name: "Github repository"
      icon: "fab fa-github"
      url: "https://github.com/bpaulin/sillyhome"
    - name: "Documentation"
      icon: "fas fa-book"
      url: "https://bpaulin.net/sillyhome"
  services: "{{ apps_without_portal | apps_for_portal(app_portal_base, false, true) }}"

app_portal_private:
  name: portal-private
  state: present

  namespace: sh-core

  helm_repo:
    - name: k8s-at-home
      repo_url: https://k8s-at-home.com/charts/

  charts:
    - ref: "k8s-at-home/homer"
      chart_values:
        ingress:
          main:
            enabled: true
            annotations:
              traefik.ingress.kubernetes.io/router.entrypoints: web
            hosts:
              - host: "sillykube"
                paths:
                  - path: "/"
                    pathType: Prefix
        configmap:
          config:
            enabled: true
            data:
              config.yml: "{{ app_portal_private_configmap | to_json }}"
