app_portainer:
  name: portainer
  state: present

  namespace: sh-core

  helm_repo:
    - name: portainer
      repo_url: https://portainer.github.io/k8s/

  charts:
    - ref: "portainer/portainer"
      chart_values: {}

  manifests:
    - name: portainer
      manifest:
        apiVersion: networking.k8s.io/v1
        kind: Ingress
        metadata:
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
        spec:
          rules:
            - host: "portainer.{{ cloudflare_domain }}"
              http:
                paths:
                  - backend:
                      service:
                        name: portainer
                        port:
                          name: http
                    path: /
                    pathType: Prefix

    - name: portainer-external
      manifest:
        apiVersion: networking.k8s.io/v1
        kind: Ingress
        metadata:
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: external
            external-dns.alpha.kubernetes.io/target: "{{ cloudflare_backend }}"
            traefik.ingress.kubernetes.io/router.tls: "true"
            traefik.ingress.kubernetes.io/router.middlewares: sh-core-forward-auth@kubernetescrd,sh-core-cloudflare-api-whitelist@kubernetescrd
        spec:
          rules:
            - host: "portainer.{{ cloudflare_domain }}"
              http:
                paths:
                  - backend:
                      service:
                        name: portainer
                        port:
                          name: http
                    path: /
                    pathType: Prefix
